.page-container {
  display: grid;
  grid-template-areas:
    'section1'
    'section2';
}


* {
  margin:0px;
  padding:0px;
}

#octocat {
  display: block;
  width:384px;
  margin: 50px auto;
}
.section1 {
  display: block;
  width: 384px;
  margin: 50px auto;
  border-color: blue;
}
.section2 {
  display: block;
  width: 384px;
  margin: 50px auto;
  border-color: cyan;
  border-width: thin;
  border-style: dashed;
}

p {
  display: block;
  width: 400px;
  margin: 50px auto;
  font: 30px "Arial",monospace;
}
